apiVersion: kubeadm.k8s.io/v1alpha3
kind: ClusterConfiguration
kubernetesVersion: K8S_VERSION
apiServerCertSANs:
- "LB_HOSTNAME"
- "LB_IP"
controlPlaneEndpoint: "LB_HOSTNAME:6443"
etcd:
  local:
    extraArgs:
      listen-client-urls: "https://127.0.0.1:2379,https://MASTER_IP:2379"
      advertise-client-urls: "https://MASTER_IP:2379"
      listen-peer-urls: "https://MASTER_IP:2380"
      initial-advertise-peer-urls: "https://MASTER_IP:2380"
      initial-cluster: "ETCD_CLUSTER,MASTER_HOSTNAME=https://MASTER_IP:2380"
      initial-cluster-state: "ETCD_STATE"
    serverCertSANs:
    - MASTER_HOSTNAME
    - MASTER_IP
    peerCertSANs:
    - MASTER_HOSTNAME
    - MASTER_IP
networking:
    podSubnet: "10.233.64.0/18"
    serviceSubnet: "10.233.0.0/18"
---
kind: InitConfiguration
apiVersion: kubeadm.k8s.io/v1alpha3
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
clusterDNS:
- "10.233.0.10"
